---
title: Radio Disney
---

<div class="container-fluid">
  <div class="row">
    <div class="col s12">
      <img class="full-w" src="https://s3.amazonaws.com/myfangate.com/rdunwrapped/mainimage.png">
    </div>
  </div>
  <div class="row">
    <div class="col s12 center-align">
      <a href="http://radiodisneyapp.com/rules" target="_blank">
        <img class="full-w rules-link" src="https://s3.amazonaws.com/myfangate.com/rdunwrapped/officialruleslink.png">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center-align">
      <p><a class="disc-links" href="https://disneytermsofuse.com" target="_blank">TERMS OF USE</a></p>
      <p><a class="disc-links" href="https://disneyprivacycenter.com" target="_blank">PRIVACY POLICY</a></p>
      <p><a class="disc-links" href="https://disneyprivacycenter.com/notice-to-california-residents/" target="_blank">YOUR CALIFORNIA PRIVACY RIGHTS</a></p>
      <p><a class="disc-links" href="https://disneyprivacycenter.com/kids-privacy-policy/english/" target="_blank">CHILDREN’S ONLINE PRIVACY POLICY</a></p>
    </div>
  </div>
</div>
